{
	# Global Caddy config
	admin {$CADDY_ADMIN:off}
	auto_https {$AUTO_HTTPS:off}
	# Logging
	log {
		level INFO
	}
	# Server (must be global)
	servers {
		# enable_full_duplex
		timeouts {
			read_body {$REQUEST_MAX_EXECUTION_TIME:120}s
			write {$REQUEST_MAX_EXECUTION_TIME:120}s
		}
	}
	# Worker
	frankenphp {
		# recommendations
		# | CPU cores | num_threads | max_threads |
		# | --------- | ----------- | ----------- |
		# | 2         | 2           | 16          |
		# | 4         | 4           | 32          |
		# | 8         | 8           | 64          |
		# | 16        | 16          | 128         |
		# you set max till 256 but acc to memory
		num_threads {$FRANKENPHP_NUM_THREADS:8}
		max_threads {$FRANKENPHP_MAX_THREADS:64}
        worker public/index.php  4
		# (#worker_holder) don't delete!,used by launcher.sh->caddy_config()
		# max_wait_time
	}
}

############################################
# Laravel application config (site)
############################################
:{$APP_PORT:80} {
	# Request handling
	root * public
	php_server
	file_server
	# Compression at the edge
	encode zstd br gzip
	# Max request body size
	request_body {
		max_size {$PHP_POST_MAX_SIZE_IN_MB:64}
	}
	# Security headers
	# header {
	# 	X-Frame-Options "SAMEORIGIN"
	# 	X-Content-Type-Options "nosniff"
	# 	Referrer-Policy "strict-origin-when-cross-origin"
	# }
	# SSE (Server Sent Event)
	mercure {
		#laravel jwt secret (signed the publisher token)
		publisher_jwt {$JWT_SECRET}
		subscriber_jwt *
		anonymous
		transport bolt {
			path {$SCRIPT_DIR:runtime}/mercure.db
			cleanup_frequency 1
		}
	}
	# /health Liveness check (container/caddy is up)
	# /up readiness check (laravel/php is ready)
	respond /health "OK" 200
}
